@import url('https://fonts.googleapis.com/css?family=Montserrat');

/*clear default styles*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, q, samp
blockquote, abbr, address, cite, code, del, dfn, em, img, ins, kbd, small, sub
strong, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, footer, label,
legend, table, caption, canvas, tbody, tfoot, thead, th, td, article, aside,
details, figcaption, figure, header, nav, menu, section, summary, time, mark,
audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*styles of navigation*/

header {
    height: 76px;
    /*background-color: #FEF67F;*/
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
}

header nav a {
    font-size: 26px;
    text-decoration: none;
}

/*styles of main block*/

main .background-with-logo{
    /*background-color: darkblue;*/
    height: 380px;
    border: 1px solid black;
    background-image: url("../images/main-photo.jpg");
    /*height: 150px;*/
    background-position: center center;
    background-size: cover;
}

main div h1,
main div h2
            {
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    }
main div h1 {
    color: yellow;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 2rem;
}

main div h2 {
    color: red;
    font-size: 3rem;
}

main .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 350px;
    margin: 75px 50px;
    border: solid 1px red;
}

main .container .block-header {
    display: flex;
    flex: 2;
    margin-right: 50px;
    background-color: #F06E9C;
    border: solid 1px red;

}

main  .blocks .container .block-header h3 {
    text-align: center;
    /*vertical-align: middle;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 2rem;
    border: solid 1px red;

}

main .container .block-text {
    flex: 5;
    font-size: 18px;
    border: solid 1px red;

}

main .container #group,
main .container #abroad {
    margin-left: 50px;
    border: solid 1px red;
}

main .container #group {
    background-color: #FEF67F;
}

main .container #children {
    background-color: violet;
}

main div.teachers-block {
    display: flex;
    flex-wrap: wrap;
}

main div.teachers-block div.teachers {
    justify-content: space-between;
    border: 1px solid red;
    margin: 10px;
    width: 400px;
}

main div.teachers-block div.teachers img {
    height: 450px;
}

/*main div.photos {*/
    /*display: flex;*/
    /*flex-direction: row;*/
/*}*/

main div.photos img {
    height: 300px;
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}

footer p{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
    border: solid 1px red;

}
/*footer p a .up-direction {*/

/*}*/