@import url('https://fonts.googleapis.com/css?family=Montserrat'); /*clear default styles*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, q, samp blockquote, abbr, address, cite, code, del, dfn, em, img, ins, kbd, small, sub strong, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, footer, label, legend, table, caption, canvas, tbody, tfoot, thead, th, td, article, aside, details, figcaption, figure, header, nav, menu, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

/*body styles*/
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}

/*styles of header and navigation*/
header {
    height: 76px;
}

header nav a {
    font-size: 22px;
}

header nav a.motto {
    width: 300px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width: 992px) {
    header nav a.motto {
        width: 450px;
        font-size: 30px;
    }
}

@media (max-width: 622px) {
    header nav a.motto {
        width: 350px;
        font-size: 24px;
    }
}

@media (max-width: 522px) {
    header nav a.motto {
        width: 200px;
        font-size: 18px;
    }
}

header nav div.collapse ul {
    width: 600px;
    display: flex;
    justify-content: space-around;
}

main .background-with-logo {
    background-color: darkblue;
    height: 380px;
    background-image: url("../images/main-photo.jpg");
    background-position: center center;
    background-size: cover;
}

@media (max-width: 768px) {
    main .background-with-logo {
        height: 280px;
    }
}

@media (max-width: 468px) {
    main .background-with-logo {
        height: 200px;
    }
}

/*style of main blocks*/
main {
    color: #000000;
}

main div h1, main div h2 {
    padding-right: 20px;
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
}

main div h1 {
    color: yellow;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 30px;
}

@media (max-width: 468px) {
    main div h1 {
        padding-top: 5px;
    }
}

main div h2 {
    color: red;
    font-size: 34px;
    /*font-weight: bold;*/
}

@media (max-width: 468px) {
    main div h2 {
        font-size: 26px;
    }
}

main .blocks {
    margin-top: 50px;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    main .blocks {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

main .container {
    display: flex;
    flex-direction: row;
    height: 350px;
    margin-bottom: 10px;
    padding: 0 auto;
}

main .blocks .container .block-header {
    height: 347px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    min-width: 100px;
}

@media (max-width: 600px) {
    main .blocks .container .block-header {
        font-size: small;
        font-weight: bold;
    }
}

main .container .block-text {
    font-size: 18px;
    width: 700px;
    padding: 4px;
}

main .container #individual {
    background-color: #F06E9C;
    margin-right: 20px;
}

main .container #group {
    background-color: #FEF67F;
}

main .container #children {
    background-color: violet;
    margin-right: 20px;
}

main .container #abroad {
    background-color: #F06E9C;
}

main .container #group h3 {
    margin-left: 10px;
    font-size: 30px;
    font-weight: bold;
}

main div.teachers-block {
    display: flex;
    justify-content: center;
    /*margin: 10px;*/
}

@media (max-width: 992px) {
    main div.teachers-block {
        display: flex;
        flex-wrap: wrap;
    }
}

main div.teachers-block div.teachers {
    justify-content: space-between;
    margin: 10px;
    width: 330px;
}

@media (max-width: 992px) {
    main div.teachers-block div.teachers {
        justify-content: center;
        flex-direction: column;
    }
}

main div.teachers-block div.teachers img {
    height: 425px;
    margin: 5px;
}

@media (max-width: 992px) {
    main div.teachers-block div.teachers p {
        margin: 0 auto;
    }
}

main h4 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.btn-outline-warning {
    width: 200px;
    background-color: #FEF67F;
    font-weight: bold;
}

div.photos {
    display: flex;
    flex-wrap: wrap;
}

div.photos img {
    max-width: 200px;
    max-height: 100px;
    margin: 5px;
}

main div#contacts {
    margin-left: 10px;
}

footer {
    border: #778899 solid 5px;
    margin: 10px;
}

footer p {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}

footer p.icons img {
    width: 50px;
    height: 50px;
    margin: 10px 5px;
}

#toTop {
    width: 100px;
    border: 1px solid #ccc;
    background: #FEF67F;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    display: none;
    color: #ff0000;
    font-family: Montserrat;
    font-size: 11px;
}
